.App {
  text-align: center;
}

.flexAndCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.limit_button{
  margin-top: 50px;
  width: 45%;
}
.todoArea{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 840px) {
  .todoArea {
    width: 850px;
  }

  .limit_button{
    width: 320px;
  }
}
